<div class="panel panel-default">
    <div class="panel-heading">Book Creation</div>
    <div class="panel-body">
	<form (ngSubmit)="saveBook()" #bookForm="ngForm">
	    <div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" required [(ngModel)]="bookBuilder.title" name="title"/>
	    </div>

	    <div class="form-group">
		<label for="author">Author</label>
		<input type="text" class="form-control" required [(ngModel)]="bookBuilder.author" name="author"/>
	    </div>

	    <div class="form-group">
		<label for="description">Description</label>
		<input type="text" class="form-control" [(ngModel)]="bookBuilder.description" name="description">
	    </div>

	    <ul class="list-group">
		<li class="list-group-item" *ngFor="let chapter of bookBuilder.chapters">{{chapter.title}}</li>
		<li class="list-group-item" (click)="createNewChapter()">Create new chapter</li>
	    </ul>

	    <button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid">Save</button>

	</form>

	<br/>
	<chapterFormComponent *ngIf="isChapterEditorVisible" (new-chapter)="newChapterHandler($event)"></chapterFormComponent>
	
    </div>
</div>
