<div class="panel panel-default">
    <div class="panel-heading">Chapter Information</div>
    <div class="panel-body">
	<form #chapterForm="ngForm" (ngSubmit)="saveChapter()">

	    <div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" [(ngModel)]="chapterBuilder.title" name="title" required/>
	    </div>

	    <div class="form-group">
		<label for="description">Description</label>
		<input type="text" class="form-control" [(ngModel)]="chapterBuilder.description" name="description"/>
	    </div>

	    <hr/>

	    <h5>Exercises:</h5>
	    <ol class="list-group">
		<li class="list-group-item" *ngFor="let exercise of chapterBuilder.exercises" (click)="openExerciseForm(exercise)">{{exercise.title}}</li>
		<li class="list-group-item" (click)="openExerciseForm()"><em>Create new exercise</em></li>
	    </ol>

	    <br/>
	    <exercise-form *ngIf="isExerciseFormVisible" [exercise]="currentExercise" (save-exercise)="saveExerciseHandler($event)"></exercise-form>

	    <button type="submit" class="btn btn-primary" [disabled]="!chapterForm.form.valid">{{chapterBuilder.id != undefined ? "Update" : "Add"}}</button>
	    
	</form>
    </div>
</div>
