<div class="panel panel-default">
    <div class="panel-heading">
	Excersise Section
    </div>
    <div class="panel-body">
	<dl class="dl-horizontal">
	    <dt>Book Title</dt>
	    <dd>{{exercise.book}}</dd>
	    <dt>Exercise Title:</dt>
	    <dd>{{exercise.title}}</dd>
	    <dt>Description</dt>
	    <dd>{{exercise.description}}</dd>
	</dl>


	<vexTabComponent [tab]="exercise.lines"></vexTabComponent>

	<center>
	    <div class="btn-group" role="group" aria-label="Navigation">
		<button type="button" class="btn btn-primary" [disabled]="!hasPreviousTab()" (click)="setPreviousTab()" >Previous</button>
		<button type="button" class="btn btn-primary" [disabled]="!hasNextTab()" (click)="setNextTab()" >Next</button>
	    </div>
	</center>
    </div>
</div>
